@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    font-family: "Lexend", sans-serif;  
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #c8f2ef;
  position: relative;
  background: transparent; 
}

.navbar {
  background-color: transparent;
}

.nav-link, .navbar-brand {
  color: #c8f2ef !important;
}

.nav-link:hover {
  color: #4cc3b9 !important;
}

#particles-js {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0; left: 0;
  z-index: -1;
  background-color: #021b1a;
  transition: background-color 0.5s ease;
}

.glass-navbar {
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.391),
    rgba(28, 201, 184, 0.168)
  );
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border-radius: 1rem;
  margin: 10px auto;
  max-width: 90%;
  box-shadow: 0 8px 30px rgba(0,0,0,0.2);
  transition: all 0.3s ease;
}

.navbar-brand {
  font-size: 1.4rem;
  color: #ffffff !important;
  letter-spacing: 0.5px;
  display: flex;
  align-items: center;
}

.nav-link-custom {
  color: #c8f2ef !important;
  font-size: 1rem;
  transition: color 0.25s ease, text-shadow 0.25s ease;
  display: flex;
  align-items: center;
  position: relative;
}

.nav-link-custom:hover {
  color: #4de4d8 !important;
  text-shadow:
    0 0 6px #4de4d8,
    0 0 10px #12a59b,
    0 0 15px #12a59b;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 30 30' fill='white' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 7h22M4 15h22M4 23h22' stroke='%23fff' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E");
}

